.col {
  padding: 100px 0px 100px 0px;
}
.navbar-nav{
  padding-left: 80px;
}

.navbar {
  padding-top: 20px;
  padding-left: 20px;
  padding: 30px 50px;
  width: 100%;
}

.nav-wrapper {
  background-color: #ffe01b;
}

.nav-wrapper :hover{
  background-color: #FFFFFF;
}
.container-logo {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
#doorpic {
  padding-left: 100px;
  padding-top: 20px;
}
#bodytext1, #bodytext2, #bodytext3, #bodytext4{
   font-size: 1.5rem;
   font-family: Helvetica,Helvetica,Arial,Verdana,sans-serif;
   font-weight: 300;
   line-height: 1.4;
}
.btn{
  border-radius: 0px;
  font-family: Helvetica,Helvetica,Arial,Verdana,sans-serif;
  font-size: 0.9375rem;
  font-weight: 600;
}
.btn-outline-dark{
  min-width: 7.5rem;
  padding: .8125rem;
}
.btn.btn-info{
  background-color: #007c89;
  color: #fff;
  padding: 1.25rem 2.5rem;
}
.btn-outline-info{
  color: #007c89;
  padding: 1.25rem 2.5rem;
}
#signUp{
  background-color: #007c89;
  color: #fff;
  margin-left: 20px;
}
.login-menu {
  margin-left: auto;
}
#learnmorebtn {
  color: #007c89;
}
h2 {
  font-family: serif, Times, Georgia;
  font-size: 3.375rem;
  letter-spacing: -.03125rem;
  font-weight: 200;
  line-height: 1;
}
#navbarDropdownMenuLink1, #navbarDropdownMenuLink2 {
  color: black;
}
#navlink1, #navlink2 {
  color: black;
}
#heading1, #heading5, #heading6, #heading7, #heading8 {
  font-family: Georgia,Times,Times,serif;
  font-size: 3.375rem;
  letter-spacing: -.03125rem;
  font-weight: 200;
  line-height: 1;
}
#heading2, #heading9 {
  font-family: Georgia,Times,Times,serif;
  font-size: 3rem;
  letter-spacing: -.03125rem;
  font-weight: 300;
  line-height: 1;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 100px;
  text-align: center;
}
#heading10 {
  font-family: Georgia,Times,serif;
  font-size: 3rem;
  letter-spacing: -.03125rem;
  font-weight: 300;
  line-height: 1;

  padding-top: 100px;
  text-align: center;
}
#heading3 {
  font-family: Georgia,Times,serif;
}
#heading4 {
  font-size: 40px;
  font-family: Georgia,Times,Times,serif;
}
#heading41, #heading42, #heading43 {
    color: #241c15;
    font-family: Georgia,Times,serif;
    font-size: 1.75rem;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 1.1;
    margin-left: 25%;
}
#col1{
  padding-left: 260px;
  padding-top: 190px;
  height: 640px;
}
#col2{
  padding-right: 185px;
}
#col4 {
  padding-top: 180px;
  padding-right: 180px;
  padding-left: 120px;
}
#col3 {
  padding-left: 260px;
  padding-top: 180px;
  height: 640px;
}
#col5 {
  padding-left: 260px;
  padding-top: 100px;
  padding-right: 150px;

}
#col6 {
  padding-right: 185px;
}
#col7 {
  padding-left: 260px;
  padding-top: 190px;
  height: 640px;
}
#col8 {
  padding-left: 150px;
  padding-top: 200px;
  padding-right: 200px;
}
#col9{
  padding-left: 260px;
  padding-right: 250px;
  height: 640px;
}
#col10 {
    padding-left: 0px;
    padding-top: 190px;
    height: 640px;
}
#col11 {
  padding-left: 260px;
}
#col13 {
  padding-left: 260px;
}
#col14 {
  padding-left: 50px;
}
.text-center {
    margin-bottom: 60px;
}
.h5{
  margin-top:5%;
  color: #007c89;
  font-size: 1.5rem;
  letter-spacing: 0;
  font-family: Georgia,Times,serif;
}
.copy{
    color: #403b3b;
    font-family: Helvetica,Helvetica,Arial,Verdana,sans-serif;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.5;
}

.dropdown-menu {
  width: 100%;
  height: 400px;
  color: #007c89;
}
.element1 {
  margin-left: 100px;
  margin-top: 100px;
}
.element2 {
  margin-left: 400px;
  margin-top: -100px;

}
.element3 {
  margin-left: 700px;
  margin-top: -100px;

}
.element4 {
  margin-left: 1000px;
  margin-top: -100px;

}
.element5 {
  margin-left: 1300px;
  margin-top: -100px;
}
#books {
  margin-top: -25px;
  margin-right: -100px;
}
#bakery {
  margin-top: -35px;
}
#brands{
  padding-left: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
}
